@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-size:2.5rem">Welcome To Anonymous Forum</h1>
</div>

<partial name="_TopicList" model="Model" />
