html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    padding: 10px 20px 20px 20px;
}

.card-title {
    font-size: 22px;
    color: #124559;
    font-weight: 500;
    padding: 2rem;
}

.sub-title {
    font-size: 18px;
    color: mediumvioletred;
    font-weight: 400;
    margin-left: 2rem;
}

.title-style {
    font-size: 22px;
    font-weight: 600;
}

.topic-list-ul {
    list-style-type: none;
    padding: 0;
}

.topic-list-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.topic-list-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
}

    .topic-list-table th,
    .topic-list-table td {
        padding: 12px 15px;
        text-align: left;
    }

    .topic-list-table tbody tr {
        border-bottom: 1px solid #e0e0e0;
    }

.topic-list-tabletbody tr:last-child {
    border-bottom: none;
}

.topic-list-table-hover tbody tr:hover {
    background-color: #f2f2f2;
}

.topic-list-table a {
    text-decoration: none;
    color: #333;
}

    .topic-list-table a:hover {
        color: #007bff;
    }

.card-sub {
    font-size: 22px;
    color: #124559;
    font-weight: 500;
}

.topic-name {
    font-size: 20px;
    font-weight: bold;
}

.button-container {
    margin-top: 10px;
}

.custom-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 1rem;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #1E90FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .custom-button:hover {
        background-color: #124559;
        color: #fff;
    }

.button-link {
    display: inline-block;
    padding: 6px 12px;
    margin: 0;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

    .button-link:hover {
        background-color: #46b8da;
        border-color: #46b8da;
    }

.button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 16px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: #D3D3D3;
    color: darkslategrey;
    border: none;
    font-weight: 600;
}

    .button:hover {
        background-color: #46b8da;
        border-color: #46b8da;
        color: #fff;
    }

    /*    .button.edit {
        background-color: #4CAF50;
        color: white;
        border: none;
    }

    .button.details {
        background-color: #008CBA;
        color: white;
        border: none;
    } */

    .button.delete {
        background-color: #f44336;
        color: white;
        border: none;
    }

.card-sub {
    font-size: 22px;
    color: #124559;
    font-weight: 500;
    padding: 2rem 0;
}

.back-link {
    display: inline-block;
    font-size: 16px;
    color: #124559;
    margin: 2rem;
}

.btn {
    margin-left: 20px;
}


.back-link:hover {
    color: #1E90FF;
}

.row {
margin-left: 20px;
}
