@model AnonymousForum.Models.Topic

@{
    ViewData["Title"] = "Edit";
}

<h1 class="card-title">Edit Topic</h1>
<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="Edit">
            <div 
                asp-validation-summary="ModelOnly" 
                class="text-danger">
            </div>

            <input type="hidden" asp-for="TopicId" />

            <div class="form-group">
                <label asp-for="TopicName" class="control-label"></label>
                <input asp-for="TopicName" class="form-control" />
                <span asp-validation-for="TopicName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="custom-button" />
            </div>
        </form>
    </div>

</div>

<div>
    <a 
        asp-action="Index" 
        class="back-link">
        Back to List
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
